<!DOCTYPE html>
<html>
<head>
	<title>Workeroscope</title>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-3.3.4-dist/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/landing.css') }}">
</head>
<body>
	<div class="col-md-12 col-xs-12 landing">
		<div class="col-md-12 col-xs-12">
			<div>
				<div class="whiteTitle"><img src="images/mylogovert_50.png" style="vertical-align: top; margin-top: 16px;"></img>
				</div>
		        <div class="whiteTitle">Workeroscope</div>
		    </div>
		</div>
	</div>

	<div class="col-md-12 col-xs-12 punchline">
		<div>Laziness Drives All Progress</div>
	</div>
</body>
</html>
