@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vmasfc');
    src:    url('../fonts/icomoon.eot?vmasfc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vmasfc') format('truetype'),
        url('../fonts/icomoon.woff?vmasfc') format('woff'),
        url('../fonts/icomoon.svg?vmasfc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
.bootstrap-select .caret {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
    content: "\e900";
}
.icon-iconadd:before {
    content: "\e901";
}
.icon-iconarrow-back:before {
    content: "\e902";
}
.icon-iconarrow-fwd:before {
    content: "\e903";
}
.icon-iconarrow-up:before {
    content: "\e904";
}
.icon-iconbrightness:before {
    content: "\e905";
}
.icon-iconcheck:before {
    content: "\e906";
}
.icon-iconchevron-back:before {
    content: "\e907";
}
.icon-iconchevron-down:before,
.bootstrap-select .caret:before {
    content: "\e908";
}
.icon-iconchevron-fwd:before {
    content: "\e909";
}
.icon-iconchevron-up:before {
    content: "\e90a";
}
.icon-iconclone:before {
    content: "\e90b";
}
.icon-iconclone-inverse:before {
    content: "\e90c";
}
.icon-iconclose:before {
    content: "\e90d";
}
.icon-iconcolour:before {
    content: "\e90e";
}
.icon-iconerror:before {
    content: "\e90f";
}
.icon-iconinfo:before {
    content: "\e910";
}
.icon-iconinfo-tool:before {
    content: "\e911";
}
.icon-iconlink:before {
    content: "\e912";
}
.icon-iconminus:before {
    content: "\e913";
}
.icon-iconpencil:before {
    content: "\e914";
}
.icon-iconpic-fill:before {
    content: "\e915";
}
.icon-iconquestion:before {
    content: "\e916";
}
.icon-iconremove:before {
    content: "\e917";
}
.icon-icontick:before {
    content: "\e918";
}
.icon-icontrash:before {
    content: "\e919";
}
.icon-iconuser:before {
    content: "\e91a";
}
