html, body {
		    height: 100%;
		}

		body {
			margin: 0;
			padding: 0;
			width: 100%;
			display: table;
		}

		.landing {
			font-weight: 100;
			font-family: 'Poiret One', cursive;
			background-image: url('/images/1_1.jpg');
			background-size:   cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 85%;
		}

		.punchline {
			font-weight: 100;
			font-size: 36px;
			font-family: 'Poiret One', cursive;
			color: #000;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 15%;
			text-align: center;
		}

		.whiteTitle {
		    font-size: 66px;
		    /*font-weight: bold;*/
		    color: #FFFFFF;
		    display: inline;
		}
