/* Override bootstrap here and define custom styles */

/* Colors

page top bar #475058
page background #f9f9fb
button #009cde
link #009cde
link user top bar #fefefe
link active top bar #cad1d5
link inactive top bar #828b92
text #475058
input hint #b1b5b8
input background #e5e7e9

*/

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/proxima_nova-webfont.eot');
  src: url('../fonts/proxima_nova-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova-webfont.woff2') format('woff2'), url('../fonts/proxima_nova-webfont.woff') format('woff'), url('../fonts/proxima_nova-webfont.ttf') format('truetype'), url('../fonts/proxima_nova-webfont.svg#glyphicons_halflingsregular') format('svg');
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9fb;
    font-size: 16px;
}

h2,
h3,
h4,
h5 {
    color: #475058;
    text-transform: uppercase;
}

h3.mod {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    color: #475058;
    text-transform: uppercase;
}
label.label--confirm {
    font-weight: normal !important;
    text-transform: none;
    margin: 30px 0;
}

.form-signin .col-md-6.mod {
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    color: #009cde;
}

.form-control {
    height: auto;
    padding: 10px 15px;
    color: #475058;
    background-color: #e5e7e9;
    border-radius: 0;
    border: 1px solid #e5e7e9;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-shopsearch .dropdown-menu,
.form-usersearch .dropdown-menu {
    box-shadow: none;
    background-color: #e5e7e9;
    color: #475058;
    border-radius: 0;
    padding: 0;
}

.form-shopsearch .dropdown-menu .selected,
.form-usersearch .dropdown-menu .selected {
    background-color: #475058;
    color: #e5e7e9;
}

.form-shopsearch .dropdown-menu>li>a,
.form-shopsearch .dropdown-menu>li>a,
.form-usersearch .dropdown-menu>li>a,
.form-usersearch .dropdown-menu>li>a {
    padding: 10px 15px;
    font-size: 18px;
}

.form-shopsearch .dropdown-menu>li>a:focus,
.form-shopsearch .dropdown-menu>li>a:hover,
.form-shopsearch .dropdown-menu>li>a:active,
.form-shopsearch .dropdown-menu>li.selected>a,
.form-usersearch .dropdown-menu>li>a:focus,
.form-usersearch .dropdown-menu>li>a:hover,
.form-usersearch .dropdown-menu>li>a:active,
.form-usersearch .dropdown-menu>li.selected>a {
    background-color: #475058;
    color: #e5e7e9;
}

.form-shopsearch .btn.btn-default,
.form-usersearch .btn.btn-default {
    height: auto;
    padding: 9px 9px 4px 9px;
    background-color: #e5e7e9;
    border: 1px solid #e5e7e9;
    color: #c0c1c3;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-shopsearch .btn.btn-default .glyphicon,
.form-usersearch .btn.btn-default .glyphicon {
    font-size: 21px;
}

.form-shopsearch .btn.btn-default.dropdown-toggle,
.form-usersearch .btn.btn-default.dropdown-toggle {
    background-color: transparent;
    color: #009cde;
    font-size: 18px;
    border: none;
}

.form-shopsearch .bootstrap-select,
.form-usersearch .bootstrap-select {
    background-color: transparent;
}

.form-shopsearch .bootstrap-select .dropdown-toggle .caret,
.form-usersearch .bootstrap-select .dropdown-toggle .caret {
    border: none;
    margin-top: -11px;
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
    vertical-align: middle;
    margin-right: 5px;
}

.navbar-container {
    width: 100%;
    background-color: #475058;
}

.navbar.navbar-default {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    border: none;
}

.navbar-default {
    height: 108px;
    background-color: #475058;
    border-radius: 0;
}

.navbar-right {
    margin-right: 60px;
}

.container-fluid {
    margin-top: 28px;
}

.nav>li>a {
    padding: 15px 25px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #cad1d5;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #828b92;
    text-transform: uppercase;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 65px;
}

.btn-info:hover,
.btn-info {
    background-color: #009cde;
    border-color: #009cde;
    border-width: 2px;
    border: 0;
}

.btn.btn-lg.btn-info.btn-outlined:hover,
.btn.btn-lg.btn-info.btn-outlined:active,
.btn.btn-lg.btn-info.btn-outlined:focus {
    background-color: rgba(0, 155, 222, 0.2);
}

.shop-settings.btn-info,
.shop-edit.btn-info {
    background-color: #ffffff;
    border-color: #009cde;
    color: #009cde;
    margin-left: 4px;
    margin-right: 4px;
    width: 45%;
    border: 2px solid;
    border-radius: 6px;
}

.shop-settings.btn-info:hover,
.shop-settings.btn-info:active,
.shop-settings.btn-info:focus,
.shop-edit.btn-info:hover,
.shop-edit.btn-info:active,
.shop-edit.btn-info:focus {
    background-color: rgba(0, 155, 222, 0.2);
}

.btn-delete {
    background: transparent;
    margin-bottom: 28px;
    margin-top: 7px;
    float: right;
    color: #d0011b;
    border-color: #d0011b;
    height: 42px;
    font-size: 15px;
    padding: 11px 20px;
}
.btn-delete:hover,
.btn-delete:active {
    color: #d0011b;
    background-color: rgba(208, 1, 27, 0.2);
}
.cancel-delete {
    color: #475058;
    margin-right: 20px;
}



.default-theme .shop-settings.btn-info,
.default-theme .shop-edit.btn-info {
    width: 100%;
}

.table>thead>tr>th {
    border-top: none;
    border-bottom: none;
    font-weight: normal;
    color: #009cde;
    text-transform: uppercase;
}

.table>tbody {
    border-bottom: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table>tbody>tr>td {
    vertical-align: middle;
    color: #475058;
}

.form-signin {
    max-width: 475px;
    padding: 15px;
    margin: 130px auto 0 auto;
}
.form-centered {
    max-width: 475px;
    padding: 15px;
    margin: 0 auto 0 auto;
}

.row.mod {
    max-width: 950px;
    margin: 0 auto 0 auto;
}

.row.mod2 {
    padding: 15px 10px 20px 10px;
    background-color: transparent;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.row.header {
    margin-bottom: 60px;
}

.shop-entry {
    position: relative;
    display: block;
    padding: 15px 10px 10px 10px;
    margin-bottom: 40px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.shop-entry .overlay {
    display: none;
    position: absolute;
    top: 40%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
}
.shop-entry:hover .overlay {
    display: table;
    padding: 0 25px;
}

.shop-entry .btn.btn-default {
    border: none;
    color: #009cde;
    background-color: #ffffff;
}

.shop-entry span.btn.btn-default {
    border: none;
    color: #475058;
    background-color: #ffffff;
}

.shop-entry .details {
    display: block;
    margin-top: 15px;
    margin-bottom: 35px;
    color: #475058;
    font-size: 13px;
    text-align: center;
}

.form-default {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.icon,
.icon:hover {
    margin-right: 15px;
    color: #009cde;
    text-decoration: none;
    font-size: 20px;
}

.icon:last-child {
    margin-right: 0;
}

.icon span {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.dropdown .btn-default {
    background-color: transparent;
    color: #009cde;
    border-color: transparent;
}

.shop-user-list-title-container,
.shop-user-list-container {
    display: none;
}

.modal-body .shop-user-list {
    table-layout:fixed;
}

.modal-body .shop-user-list td,
.modal-body .shop-user-list.table>tbody {
    border: none;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header {
    background-color: #475058;
}

.close,
.close:hover {
    color: #ffffff;
    opacity: 1;
}

.modal-title {
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
}

.modal.in .modal-dialog {
    margin-top: 10%;
    webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.in.iframe-dialog .modal-dialog {
    webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

/* confirm dialog */

.confirm-dialog .modal-header {
    background-color: #f76252;
}

.confirm-dialog .modal-title  {
    text-align: center;
}

.confirm-dialog .icon,
.confirm-dialog .icon:hover {
    color: #ffffff;
}

/* confirm dialog end */

/* pagination */

.pagination .active {
    pointer-events: none;
}

/* pagination end */

.shop-edit-frame {
    width: 100%;
    height: 100vh !important;
}

.iframe-dialog.bootbox.modal {
    overflow-y: hidden;
}

.iframe-dialog .icon-iconclose.bootbox-close-button.close::before {
    content: '';
}

.iframe-dialog.bootbox.modal .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.iframe-dialog.bootbox.modal .modal-content {
    height: 100vh;
}

.iframe-dialog.bootbox.modal .modal-body,
.iframe-dialog.bootbox.modal .modal-footer {
    padding: 0;
}

.iframe-dialog.bootbox.modal .icon-iconclose.bootbox-close-button.close {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.pagination-meta {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 10px 15px;
    line-height: 35px;
    color: #475058;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #009cde;
    background-color: #cae9f7;
    border: 1px solid #ddd;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #009cde;
    background-color: #cae9f7;
    border: 1px solid #ddd;
}

.pagination>li>a,
.pagination>li>span {
    color: #009cde;
}

a.activation:focus,
a.activation:hover,
a.activation:active,
a.adduser:focus,
a.adduser:hover,
a.adduser:active {
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.dialogusersearchresults {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dialogusersearchresults li {
    display: block;
    margin: 0 0 0 0;
    padding: 0;
}
.dialogusersearchresults li>.row {
    padding: 8px;
}

.button-mask {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.shop-link {
    position: absolute;
    top: 13px;
    left: 80px;
}

.close-shop-dialog {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    background-color: transparent;
}

@media only screen and (min-width : 990px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}

.col-md-12.var {
    padding: 0;
}
.col-md-12.mod p,
.col-sm-12.mod p,
.col-md-6.mod p {
    display: inline-block;
}

.col-md-12.mod p:first-child {
    margin-right: 20px;
}

.col-md-12.mod p:last-child {
    margin-right: 0;
}

.vertical-mod {
    margin-top: 0.7em;
}

.form-group {
    margin-bottom: 30px;
}

.row.mod h3,
.row.mod.mod2 h4,
.form-centered h4 {
    font-size: 1.7em;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.row.mod h5 {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #475058;
    margin-bottom: 30px;
    margin-top: 10px;
}

.form-group label {
    font-size: 16px;
    font-weight: 600;
}

.result-count {
    font-size: 20px;
}

.form-shopsearch.active .form-control.search-text,
.form-usersearch.active .form-control.search-text,
.form-control:focus {
    border-color: #009cde !important;
    border: 1px solid;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-shopsearch.active .btn.btn-default.search-text-button,
.form-usersearch.active .btn.btn-default.search-text-button {
    color: #009cde;
    background-color: #ffffff;
    border: 1px solid #009cde;
}

.search-cancel,
.search-cancel:hover,
.search-cancel:active,
.search-cancel:focus {
    position: absolute;
    top: 12px;
    right: 55px;
    z-index: 999;
    background-color: #e5e7e9;
    border-radius: 30px;
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.search-cancel .icon {
    color: #ffffff;
    margin: 4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    left: auto;
    right: auto;
    top: 1px;
}

.removeuser {
    position: relative;
    z-index: 999;
    background-color: #f76252;
    border-radius: 30px;
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.removeuser .icon {
    color: #ffffff;
    margin: 4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    left: 0.02em;
    right: auto;
    top: 0.05em;
}

.icon-iconclose.bootbox-close-button.close {
    font-weight: 200;
}

.bootbox.modal {

}

.bootbox.modal .modal-header {
    position: relative;
    padding: 30px 30px 30px 30px;
}

.bootbox.modal .modal-body {
    position: relative;
    padding: 30px 80px 30px 80px;
}

.bootbox.modal .modal-footer {
    position: relative;
    padding: 30px 80px 30px 80px;
}

@media (min-width: 768px) {
    .bootbox.modal .modal-dialog {
        width: 630px;
        margin: 10% auto 30px auto;
    }
}

.tool-tip-link {
    display: inline-block;
    margin-bottom: -3px;
    width: 18px;
    height: 18px;
    background: url('../images/iconinfo-tool.png') 0 0 no-repeat;
}

.tool-tip-link:hover,
.tool-tip-link:active,
.tool-tip-link:focus {
    text-decoration: none;
}
.tool-tip-icon {
    border: 1px solid #009cde;
    border-radius: 8px;
    font-size: 15px;
}

.btn-outlined:hover,
.btn-outlined:active,
.btn-outlined:focus,
.btn-outlined {
    position: absolute;
    background-color: #fff;
    color: #009cde;
    border: 2px solid #009cde;
    left: 80px;
    top: 30px;
}

.pagination {
    border-radius: 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination>li a {
    border-radius: 0;
}

.btn-group-lg>.btn,
.btn-lg {
    font-size: 16px;
}

.user-logout {
    float: right;
    margin-top: 20px;
}

.navbar-default .navbar-nav a.light:hover .icon,
.navbar-default .navbar-nav a.light:active .icon,
.navbar-default .navbar-nav a.light:focus .icon,
.navbar-default .navbar-nav a.light:hover,
.navbar-default .navbar-nav a.light:active,
.navbar-default .navbar-nav a.light:focus {
    color: #cad1d5;
}

.navbar-default .navbar-nav a.light {
    position: relative;
    color: #ffffff;
    padding-left: 50px;
}

.navbar-default .navbar-nav .icon {
    color: #ffffff;
    position: absolute;
    left: 18px;
    font-size: 25px;
    top: 13px;
}

.form-signin.form-centered h4 {
    margin-top: 0;
    margin-bottom: 30px;
}

.form-signin.form-centered p {
    margin-top: 0;
    margin-bottom: 30px;
}

.modal-body .result .email,
.modal-body .result .name,
.modal-body .shop-user-list .email,
.modal-body .shop-user-list .name {
    overflow: hidden;
}

.toggle-container {
    position: relative;
}

.b {
    display: block;
}

.toggle {
    position: absolute;
    top: 70%;
    left: 75%;
    width: 45px;
    height: 25px;
    border-radius: 100px;
    background-color: #ddd;
    margin: -20px -40px;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.activated .track {
    box-shadow: inset 0 0 0 20px #009cde;
}

.activated .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
    box-shadow: inset 0 0 0 20px #4bd863;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
    border-radius: 40px;
}

/*.activated {
    display: inline-block;
    margin-bottom: -3px;
    width: 48px;
    height: 25px;
    background: url('../images/switched-on.png') 0 0 no-repeat;
}

.deactivated {
    display: inline-block;
    margin-bottom: -3px;
    width: 48px;
    height: 25px;
    background: url('../images/switched-off.png') 0 0 no-repeat;
}

a.activation.activated {
    color: #009cde;
}

a.activation.deactivated {
    color: #475058;
}*/



/* 
reports 

border label: #d1d5d8
border calendar: #919598
font: #484b4d
green: #25a82c
red: #f66357
start: #6f7274
end: #d1d5d8

*/
.row.reports { 
    max-width: 990px;
    margin: 0 auto;
    margin-top: 66px;
}
.heading--reports { 
    font-size: 32px;
    margin: 0;
    margin-bottom: 30px;
    border-color: #d1d5d8;
}
.daterangepicker-label--reports { 
    float: left;
    background: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #d1d5d8;
    display: inline-block;
    margin-bottom: 40px;
    color: #484b4d;
    letter-spacing: .05em;
}
.daterangepicker-label--reports span {
    font-size: 13px;
    font-weight: bold;
}
.daterangepicker-label--reports--selected .glyphicon {
    color: #25a82c;
}
.button-reset--reports { 
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    width: 17px;
    height: 18px;
    line-height: 14px;
    background: #f66357;
    font-size: 30px;
    border-radius: 50%;
    padding: 3px 1px;
    color: #fff;
    display: none;
}
.button-reset--reports:hover,
.button-reset--reports:active,
.button-reset--reports:focus {
    color: #fff;
    text-decoration: none;
}
.button-download--reports {  }


.daterangepicker { 
    margin-top: -44px;
    padding: 0;
    border: 1px solid #919598;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 0;
}
.daterangepicker * {
    border-radius: 0 !important;
}
.daterangepicker:before,
.daterangepicker:after {
    content: none !important;
}
.daterangepicker thead {
    position: relative;
    background: #484b4d;
    color: #fff;
}
.daterangepicker .calendar {
    width: 246px;
}
.daterangepicker .calendar th.available {
    position: relative;
    padding: 0 !important;
    line-height: 29px;
}
.daterangepicker .calendar th.prev i,
.daterangepicker .calendar th.next i {
    display: block;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50% !important;
    width: 29px;
    height: 29px;
    min-width: 29px;
    line-height: 27px;
}
.daterangepicker .calendar th.prev i {
    left: 420px;
    top: 10px;
    z-index: 1;
}
.daterangepicker .calendar th.next i {
    right: 10px;
    top: 10px;
}

.daterangepicker .calendar th {
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 0;
    font-weight: lighter;
}
.daterangepicker .calendar th.month {
    text-align: left;
    text-indent: -22px;
    font-size: 16px;
    padding: 15px 0 5px;
    font-weight: bold;
}
.daterangepicker .calendar td {
    padding-top: 8px;
    padding-bottom: 8px;
}
.daterangepicker .calendar td.off.off {
    color: transparent;
}
.daterangepicker .calendar th:first-child,
.daterangepicker .calendar td:first-child {
    padding-left: 20px;
}
.daterangepicker .calendar th:last-child,
.daterangepicker .calendar td:last-child {
    padding-right: 20px;
}
.daterangepicker .input-mini {
    border: none;
    background: #fff;
    padding: 0 20px 0 45px;
    margin: 11px 0;
    display: inline-block;
    width: auto;
    height: 22px;
}
.daterangepicker .input-mini.active {
    border: none;
}
.daterangepicker .fa-calendar {
     font-size: 16px;
}
.daterangepicker .calendar {
    margin: 0;
}
.daterangepicker .calendar.left .daterangepicker_input i {
    left: 20px;
    top: 12px;
}
.daterangepicker .calendar.right .daterangepicker_input i {
    display: none;
}
.daterangepicker .calendar.right .daterangepicker_input {
    text-indent: -125px;
}
.daterangepicker .calendar.right .daterangepicker_input:before {
    content: "—";
    display: inline-block;
    text-indent: 0;
}
.daterangepicker .calendar.right .daterangepicker_input .input-mini {
    padding-left: 10px;
}
.daterangepicker .calendar-table {
    padding: 0 !important;
    border: none;
}
.daterangepicker .calendar.left .calendar-table:after {
    content: "";
    display: block;
    position: absolute;
    left: 247px;
    top: 54px;
    height: 44px;
    width: 1px;
    background: #979797;
}
.daterangepicker td.available,
.daterangepicker td.end-date {
    position: relative;
}
.daterangepicker td.available:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
}
.daterangepicker th.available:hover {
    background: transparent;
}
.daterangepicker th.available:hover i {
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
}
.daterangepicker td.off:before {
    display: none !important;
}
.daterangepicker td.available:hover:before,
.daterangepicker td.end-date:before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    border: 1px solid #d1d5d8;
    background: transparent;
    border-radius: 50% !important;
    top: 3px;
    left: 0;
}
.daterangepicker .calendar td.available:first-child:hover:before,
.daterangepicker .calendar td.available.end-date:first-child:before {
    right: 0;
    left: auto;
}
.daterangepicker .calendar td.available:last-child:hover:before,
.daterangepicker .calendar td.available.end-date:last-child:before {
    left: -1px;
}
.daterangepicker td.start-date:before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    border: 1px solid #6f7274;
    background: rgba(0, 0, 0, .5);
    border-radius: 50% !important;
    top: 3px;
    left: 0;
    z-index: -1;
}
.daterangepicker .calendar td.available.start-date:first-child:before {
    right: 0;
    left: auto;
}
.daterangepicker .calendar td.available.start-date:last-child:before {
    left: -1px;
}
.daterangepicker td.in-range {
    background: transparent;
}
.daterangepicker td.start-date {
    z-index: 1;
    background: transparent;
    color: #fff;
}
.daterangepicker td.end-date {
    background: transparent;
    color: #333;
    border-radius: 50% !important;
}
.daterangepicker.ltr .ranges {
    position: absolute;
    right: 0;
}
.daterangepicker .cancelBtn {
    display: none;
}
.daterangepicker .applyBtn,
.daterangepicker .applyBtn:hover,
.daterangepicker .applyBtn:active {
    background: transparent;
    color: #25a82c;
    border: none;
    font-size: 16px;
    position: relative;
    padding: 6px;
    outline: none;
}
.daterangepicker .applyBtn:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    display: block;
    width: 29px;
    height: 29px;
    border: 1px solid #25a82c;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -30px;
}
.daterangepicker .applyBtn:disabled {
    display: none;
}





